{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="user-update">
    <div class="box">
        <div class="logo">
            <img src="{% static 'img/planT_logo.svg' %}" alt="plan-t logo">
        </div>
        <h3 class="tit">회원정보 수정</h3>
        <form action="" method="POST" id="user-update-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-area">
                <label for="id_nickname">닉네임</label>
                <input type="text" name="nickname" maxlength="500" id="id_nickname">
            </div>
            <div class="input-area">
                <label for="id_email">이메일</label>
                <input type="email" name="email" maxlength="254" id="id_email">
            </div>
            <div class="input-area">
                <label for="image">프로필 이미지</label>
                <!-- <div class="loaded-file"></div>
                <div class="upload-none">
                    <span class="attach_img-icon material-symbols-outlined">imagesmode</span>
                    사진/파일을 첨부하세요
                </div> -->
                <input type="file" name="image" accept="image/*" id="image">
            </div>
            <div class="input-area">
                <label for="id_old_password">기존 비밀번호</label>
                <input type="password" name="old_password" autocomplete="current-password" id="id_old_password">
            </div>
            <div class="input-area">
                <label for="id_new_password1">새 비밀번호</label>
                <input type="password" name="new_password1" autocomplete="new-password" id="id_new_password1">
            </div>
            <div class="input-area">
                <label for="id_new_password2">새 비밀번호 확인</label>
                <input type="password" name="new_password2" autocomplete="new-password" id="id_new_password2">
            </div>
            <button class="btn" type="submit">회원정보 수정하기</button>
        </form>
    </div>
</div>
<!-- {{form}} -->

{% endblock body %}