<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../../../static/styles/init.css">
    <link rel="stylesheet" href="../../../static/styles/accounts.css">
    <script src="../../../static/script/script.js" defer="defer"></script>
    <title>Document</title>
</head>

<body>
    <div id="main-login">
        <div class="container">
            <div class="slide">
                <img src="https://dummyimage.com/1000x600" alt="">
            </div>
            <div class="login">
                <div class="logo">
                    <img src="../../../static/img/planT_logo.svg" alt="plan-t logo">
                </div>
                <form action="" id="login-form" method="POST">
                    <div class="input-area">
                        <input type="text" name="username" id="id_username" autofocus="autofocus" />
                        <label for="username">아이디</label>
                    </div>
                    <div class="input-area">
                        <input type="password" name="password" id="id_password" />
                        <label for="password">비밀번호</label>
                    </div>
                    <button type="submit" class="btn">로그인</button>
                </form>
                <div class="link-area">
                    <a href="">회원가입</a>
                    <a href="">아이디/비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>