{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="box" id="mypage">
        <div class="user-info">
            <div class="profile-img shd">
                {% if user.image %}
                <img src="{{user.image.url}}" alt="프로필 이미지">
                {% else %}
                <img src="https://dummyimage.com/150x150" alt="프로필 이미지">
                {% endif %}
            </div>
            <a href="{% url 'accounts:update' %}" class="update-btn"><span class="material-symbols-outlined">
                    edit_square
                </span></a>
            <h2 class="tit">{{user.username}}</h2>
            {% if user.nickname %}
            <p class="nick">{{user.nickname}}</p>
            {% else %}
            <p class="nick">설정된 닉네임이 없습니다.</p>
            {% endif %}
        </div>
        <div class="todo-achieve">
            <h4 class="tit">TODO 달성률</h4>
            <p class="achieve-bg"></p>
            <p class="achieve-per">
                <span>45%</span>
            </p>
        </div>
        <div class="user-tag box">
            <h4 class="tit">많이 쓴 태그</h4>
            <div class="tag-area">
                {% for tag in result %}
                <a href="{% url 'accounts:sametag' tag.content %}" class="tag">
                    {{ tag.content }}
                    <span class="tag-count">{{ tag.count }}</span>
                </a>
                {% endfor %}
            </div>

        </div>
        <div class="user-log box">
            <h4 class="tit">나의 스터디 현황</h4>
            <div>
                {% for study in joined_studies %}
                <div>
                    {{ study.title }}
                    {{ study.content }}
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock body %}