{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="box" id="tag-list">
  <h3 class="tit"><span>#{{tag}}</span> 태그의 할일</h3>
  <p></p>
  {% for tag in same_tags %}
  <div class="box tag-box">
    <p class="tag-tit">{{ tag.todo.title }}</p>
    <p class="tag-cont">{{ tag.todo.content }}</p>
    <p class="tag-date">{{ tag.todo.when }}</p>
    <!-- <p>완료 :{{ tag.todo.is_completed }}</p> -->
  </div>
  {% endfor %}

  <!-- {% for tag in tags %}
  <div>{{ tag.content }}</div>
  {% endfor %} -->
</div>

{% endblock body %}