<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="../../../static/styles/init.css">
  <link rel="stylesheet" href="../../../static/styles/alltask.css">
  <title>alltask</title>
</head>
<body>
  <!-- timeline section -->
  <section class="task-timeline">
    <div class="container">
      <div class="box-area" id="timeline-box-area">
        <div class="box" id="time-box">
          <div class="past-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="time-point">
                과거
              </button>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-01
                </button>
              </div>
              <ul class="past-task_list">
                <li class="past-task">
                  <span>task</span>
                  <input type="checkbox" name="" id="past-check">
                    <label for="past-check"></label>
                </li>
                <li class="past-task">
                  <span>task</span>
                  <input type="checkbox" name="" id="past-check">
                    <label for="past-check"></label>
                </li>
              </ul>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-02
                </button>
              </div>
            </div>
            <div class="past-date_all"> 
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-03
                </button>
              </div>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-04
                </button>
              </div>
            </div>
          </div>
          <div class="past-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="time-point">
                오늘
              </button>
            </div>
          </div>
          <div class="past-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="time-point">
                내일
              </button>
            </div>
          </div>
        </div>
        <div class="box" id="timedetail-form-area">
          <form action="" method="post" id="today-detail-form">
            <input type="text" name="today_task-title" value="task title" class="today_task-title">
            <div class="keyword-box"><span>keyword</span></div>
            <textarea name="today_task-textarea" class="today_task-textarea" cols="30" rows="10"></textarea>
            <fieldset class="today-task-fileadd">
              <legend>사진/파일 첨부</legend>
              <label for="today-task-imgfile"></label>
              <input type="file" name="today_task-img" class="today_task-img" id="today-task-imgfile">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  

  <script>
    const timelineBtn = document.querySelectorAll('.time-point');
    timelineBtn.forEach(el => {
      el.addEventListener('click', function(el){
        const parentDiv = el.target.parentElement.parentElement;
        const dateList = parentDiv.querySelectorAll('.past-date_all');
        for (let i=0; i < dateList.length; i++) {
          if (dateList[i].style.display === "none") {
            dateList[i].style.display = "block";
        } else {
          dateList[i].style.display = "none";
        }
        }
      });
    })

    const timeBtn = document.querySelectorAll('.datetime')
    timeBtn.forEach(e => {
      e.addEventListener('click', function(e){
        const parentElem = e.target.parentElement.parentElement
        const timeList = parentElem.querySelectorAll('.past-task');
        for (let j=0; j < timeList.length; j++) {
          if (timeList[j].style.display === "none") {
            timeList[j].style.display = "flex";
          } else {
            timeList[j].style.display = "none";
          }
        }
      });
    });
    
  </script>
</body>
</html>