<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="../../../static/styles/init.css">
  <link rel="stylesheet" href="../../../static/styles/alltask.css">
  <title>alltask</title>
</head>
<body>
  <!-- timeline section -->
  <section class="task-timeline">
    <div class="container">
      <div class="box-area" id="timeline-box-area">
        <div class="box time-box-area" id="time-box">
          <div class="past-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="time-point">
                과거
              </button>
            </div>
            <div class="past-date_all">
              <span class="arrow-icon">
              <div class="past-date">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-01
                </button>
              </div>
              <ul class="task_listup">
                <li class="task-li-content">
                  <span>task</span>
                  <input type="checkbox" name="" id="past-check">
                  <label for="past-check"></label>
                </li>
                <li class="task-li-content">
                  <span>task</span>
                  <input type="checkbox" name="" id="past-check">
                  <label for="past-check"></label>
                </li>
              </ul>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-02
                </button>
              </div>
            </div>
            <div class="past-date_all"> 
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-03
                </button>
              </div>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-04
                </button>
              </div>
            </div>
            <div class="past-date_all">
              <div class="past-date">
                <span class="arrow-icon">
                  <img src="../../../static/img/arrow_forward.svg" alt="">
                </span>
                <button class="datetime">
                  2022-11-05
                </button>
              </div>
            </div>
          </div>
          <div class="today-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="times">
                오늘
              </button>
            </div>
            <ul class="task_listup">
              <li class="task-li-content">
                <span>task</span>
                <input type="checkbox" name="" id="past-check">
                <label for="past-check"></label>
              </li>
              <li class="task-li-content">
                <span>task</span>
                <input type="checkbox" name="" id="past-check">
                <label for="past-check"></label>
              </li>
            </ul>
          </div>
          <div class="tomorrow-timeline">
            <div class="timeline-box">
              <span class="arrow-icon">
                <img src="../../../static/img/arrow_forward.svg" alt="">
              </span>
              <button class="times">
                내일
              </button>
            </div>
          </div>
        </div>
        <div class="box timedetail-form" id="timedetail-form-area">
          <form action="" method="post" id="today-detail-form">
            <input type="text" name="today_task-title" value="task title" class="today_task-title">
            <div class="keyword-box"><span>keyword</span></div>
            <textarea name="today_task-textarea" class="today_task-textarea" cols="30" rows="10"></textarea>
            <fieldset class="today-task-fileadd">
              <legend>Image/File</legend>
              <label for="today-task-imgfile">
                <div class="loaded-file"></div>
                <div class="upload-none">
                    <span class="attach_img-icon material-symbols-outlined">imagesmode</span>
                    사진/파일을 첨부하세요
                </div>
              </label>
              <input type="file" name="today_task-img" class="today_task-img" id="today-task-imgfile">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>

  
 <!-- 눌렀을때 나타나는 폼 -->
 <script>
   let taskContents = document.querySelectorAll(".task-li-content")
   const timeDetailForm = document.querySelector(".timedetail-form")
   const timeBoxArea = document.querySelector(".time-box-area")
   
   const taskTimelineToggle = function(e) {
     e.preventDefault();
     console.log(e)
     timeDetailForm.classList.toggle('activate');
     timeBoxArea.classList.toggle('activate');
     
    }
    
    taskContents.forEach(tasklist => {
      tasklist.addEventListener('click', taskTimelineToggle);
    });
    
    
    
    </script>

<script>
  let uploadFile = document.getElementById("today-task-imgfile");
  let loadedFile = document.querySelector(".loaded-file")
  const noneFile = document.querySelector(".upload-none")
  
  loadedFile.style.display = "none";
  
  uploadFile.onchange = () => {
    noneFile.style.display = "none";
    loadedFile.style.display = "block";
    let uploadFileName = uploadFile.files[0].name;
    loadedFile.innerText = `${uploadFileName}`;
  }
  
  </script>
  <!-- 과거, 오늘, 내일 토글 -->
  <script>
    // 과거 토글
    const timelineBtn = document.querySelector('.time-point');
      timelineBtn.addEventListener('click', function(e){
        e.preventDefault();
        const parentDiv = e.target.parentElement.parentElement;
        let timePoint = parentDiv.classList.value;
        const dateList = parentDiv.querySelectorAll('.past-date_all');
          for (let i=0; i < dateList.length; i++) {
            dateList[i].classList.toggle('activate');
         };
         
         const ymdBtn = parentDiv.querySelector('.datetime');
         ymdBtn.addEventListener('click', function(e){
             e.preventDefault();
             const parentElem = e.target.parentElement.parentElement
             const timeList = parentElem.querySelectorAll('.task-li-content');
             for (let j=0; j < timeList.length; j++) {
               timeList[j].classList.toggle('activate');
             }
           }) 
       });
    
    // 오늘, 내일 토글 - 클래스 이름 변경
    const times = document.querySelectorAll('.times');
    times.forEach(time => {
      time.addEventListener('click', (e) => {
        e.preventDefault();
        const parenDiv = e.target.parentElement.parentElement;
        console.log(parenDiv)
        const taskList = parenDiv.querySelectorAll('.task-li-content');
        console.log(taskList)
        for (let k=0; k < taskList.length; k++) {
          taskList[k].classList.toggle('activate');
        }

      })
    })
      
       
       
  </script>

</body>
</html>