<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box {
      background-color: darkgray;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 20px;
    }

    .color {
      background-color: aquamarine;
    }
  </style>
</head>

<body>
  <form action="" method="POST">
    {% csrf_token %}
    {{ timetable_form.as_p }}
    <button type="submit">ok</button>
  </form>
  <div>
    <div id="1" class="box"></div>
    <div id="2" class="box"></div>
    <div id="3" class="box"></div>
    <div id="4" class="box"></div>
    <div id="5" class="box"></div>
    <div id="6" class="box"></div>
  </div>
</body>

</html>