<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="../../../static/styles/init.css">
  <link rel="stylesheet" href="../../../static/styles/study_form.css">
</head>
<body>

  <div class="container">
    <div class="box">
      <article id="study-info-area">
        <!-- 스터디 title -->
        <label for="study-info-name"># 스터디 이름</label>
        <input type="text" name="{{study.title}}" value="Plan-T" class="study-info-title" id="study-info-name" disabled> 
      
        <!-- 스터디 category -->
        <fieldset class="study-info-categories">
          <legend># 카테고리</legend>
          <div class="categories-area">
            <input type="radio" name="ct" id="ct0" checked>
            <label for="ct0">생활</label>
            <input type="radio" name="ct" id="ct1">
            <label for="ct1">IT/개발</label>
            <input type="radio" name="ct" id="ct2">
            <label for="ct2">외국어</label>
            <input type="radio" name="ct" id="ct3">
            <label for="ct3">인문</label>
            <input type="radio" name="ct" id="ct4">
            <label for="ct4">수능</label>
            <input type="radio" name="ct" id="ct5">
            <label for="ct5">취업</label>
            <input type="radio" name="ct" id="ct6">
            <label for="ct6">면접</label>
            <input type="radio" name="ct" id="ct7">
            <label for="ct7">기타</label>
          </div>
        </fieldset>

        <!-- 스터디 인원 -->

        <label for="study-members-num"># 스터디 인원</label>
        <div class="members-area" id="study-members-num">
          <div class="study-membernum">{{study.member_number}}명</div>
          <span>/</span>
          <div class="study-totalnum">{{study.max_people}}명</div>
        </div>

        <!-- 스터디 장의 경우, 스터디 승인 받아주는 창 보여짐 -->
        <!--추후 디테일 페이지로 옮겨야됨 담당자: 성인-->
        {% if request.user == study.owner%}
          <ul class="approve-members">
            <h6></h6>
            {% for user in application_member%}
              <li>
                <div class="approve-user-info">
                  <!-- user profile img -->
                  {% if user.image %}
                    <img src="user.image.url" alt="" class="study-detail-userimg">
                  {% else %}
                    <img src="https://dummyimage.com/40x40/bab3ba/000000.jpg" alt="" class="study-detail-userimg">
                  {% endif %}
                  <!-- username -->
                  <h6>{{user.username}}</h6>
                </div>
                <div class="detail-btn-group">
                  <!-- approval btn -->
                  <form action="{% url 'studies:accept' study.pk user.pk%}">
                    <input type="submit" value="승인" class="approval-btn">
                  </form>
                  <!-- reject btn -->
                  <form action="{% url 'studies:refusal' study.pk user.pk%}">
                    <input type="submit" value="거절" class="reject-btn">
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <!-- 스터디 소개 -->
        <label for="study-info-text"># 스터디 소개</label>
        <textarea name="" id="study-info-text" cols="30" rows="10" disabled="disabled">{{study.desc}}</textarea>
        <!-- 시작일, 종료일-->
        <div class="study-detail-datepicker">
          <fieldset class="study-start-picker">
            <legend># 시작일</legend>
            <input type="date" name="" value="{{start}}" id="study-start-date" disabled="disabled">
          </fieldset>
          <fieldset class="study-end-picker">
            <legend># 종료일</legend>
            <input type="date" name="" value="{{end}}" id="study-end-date" disabled="disabled">
          </fieldset>
        </div>

        <!-- 스터디 디테일 페이지 이동 (승인받은 회원만) -->
        <!-- 스터디 가입 -->
        {% if request.user != study.owner %}
          <a href="{% url 'studies:join' study.pk %}">가입(임시)</a>
        {% endif %}
        <!-- 스터디 삭제 (스터디 장에게만) -->
        <!-- 스터디 index로 다시 돌아가기 -->
        </article>
      </div>
    </div>

  </body>

</html>