<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>study_detail</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
  <link rel="stylesheet" href="../../../static/styles/init.css">
  <link rel="stylesheet" href="../../../static/styles/study_detail.css">
</head>
<body>

  <div class="container" id="study-todo-area">
    <div class="box">
      <section id="study-detail-area">
        <!-- 스터디 수정 버튼 -->
        <a href="./study_update.html" class="edit-direct-btn">
          <span class="edit-icon_img material-symbols-outlined">edit_note</span>
        </a>
        <!-- 스터디 title -->
        <label for="study-detail-name"># 스터디 이름</label>
        <input type="text" name="" value="Plan-T" class="study-detail-title" id="study-detail-name" disabled>
        <!-- 스터디 소개 --> 
        <label for="study-detail-text"># 스터디 소개</label>
        <div class="study-content">
          <textarea name="" id="study-detail-text" cols="30" rows="10" disabled>스터디 장</textarea>
          <div class="leader-profileimg">
            <img src="https://scontent.cdnsnapwidget.com/vp/4aefafd3bee59d1d0fa2b29a59fc2bc5/5D7701C4/t51.2885-15/sh0.08/e35/s640x640/47690229_1430752333723397_2893005724802088960_n.jpg" alt="" width="55" height="55">
          </div>
        </div>
        <!-- 스터디 인원 -->
        <label for="study-members-num"># 스터디 인원</label>
        <div class="members-area" id="study-members-num">
          <div class="study-membernum">3명</div>
          <span>/</span>
          <div class="study-totalnum">5명</div>
        </div>
        <!-- 승이-->
        <ul class="approve-members">
          <li>
            <div class="approve-user-info">
              <!-- user profile img -->
              <img src="https://dummyimage.com/40x40/bab3ba/000000.jpg" alt="" class="study-detail-userimg">
              <!-- username -->
              <h6>dahlia</h6>
            </div>
            <div class="detail-btn-group">
              <!-- approval btn -->
              <form action="">
                <input type="submit" value="승인" class="approval-btn">
              </form>
              <!-- reject btn -->
              <form action="">
                <input type="submit" value="거절" class="reject-btn">
              </form>
            </div>
          </li>
        </ul>
      </section>

      <div class="study-task-add">
        <button class="icon-btn add-btn">
          <div class="add-icon"></div>
          <div class="btn-txt">할 일 추가하기</div>
        </button>
      </div>

      <section class="study-todo-section">
        <div class="study-task-add-spec">
          <!-- today todo Form -->
          <form action="{% url 'todos:create' %}" method="post" id="study-task-form" enctype="multipart/form-data">
            <!-- 시작일, 종료일-->
            <div class="datepicker-area">
              <div class="studytask-startpick">
                <input type="date" name="start_at" id="studytask-start">
              </div>
              <div class="studytask-endpick">
                <input type="date" name="end_at" id="studytask-end">
              </div>
            </div>
            <input type="text" name="title" placeholder="할일 추가하기" class="study_task-title">
            <textarea name="content" class="study_task-textarea" id="id_content" cols="30" rows="10"
            placeholder="할 일 상세"></textarea>
            <fieldset class="study-task-fileadd">
              <legend>Image/File</legend>
              <label for="study-task-imgfile">
                <div class="study-loaded-file"></div>
                <div class="study-upload-none">
                  <span class="attach_img-icon material-symbols-outlined">imagesmode</span>
                  사진/파일을 첨부하세요
                </div>
              </label>
              <input type="file" name="file" class="study_task-img" id="study-task-imgfile">
            </fieldset>
            <div class="btn-area">
              <div class="keyword-box">
                <input type="text" name="keyword" id="" placeholder="#keyword">
              </div>
              <button type="submit" class="btn">할일 추가</button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="box-area">
      <div class="box study-task-area">
        <ul class="study-task-list">
          <li class="task activate">
            <p class="task-cont">task</p>
            <input type="checkbox" name="task-chb1" id="task-chb1">
            <label for="task-chb1" class="task-chb"></label>
          </li>
          <li class="task">
            <p class="task-cont">task</p>
            <input type="checkbox" name="task-chb2" id="task-chb2">
            <label for="task-chb2" class="task-chb"></label>
          </li>
          <li class="task">
            <p class="task-cont">task</p>
            <input type="checkbox" name="task-chb3" id="task-chb3">
            <label for="task-chb3" class="task-chb"></label>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <script>


    let studyUploadFile = document.getElementById("study-task-imgfile");
    let studyLoadedFile = document.querySelector(".study-loaded-file")
    const studyNoneFile = document.querySelector(".study-upload-none")
    
    studyLoadedFile.style.display = "none";

    studyUploadFile.onchange = () => {
        studyNoneFile.style.display = "none";
        studyLoadedFile.style.display = "block";
        let uploadFileName = studyUploadFile.files[0].name;
        studyLoadedFile.innerText = `${uploadFileName}`;
    }
       

  </script>

  <script>
    try {
    const inputBox = document.getElementsByTagName('input');

    const loginActivate = function (e) {
        inputArea = e.target.closest('.input-area');
        if (!e.target.value == "") {
            inputArea.classList.add("activate");
        }
        else {
            inputArea.classList.remove("activate");
        }
    };
    for (let i = 0; i < inputBox.length; i++) {
        inputBox[i].addEventListener('keyup', loginActivate);
    }


} catch { }

try {

    let slideUp = (target, duration = 500) => {
        target.style.transitionProperty = "height, margin, padding";
        target.style.transitionDuration = duration + "ms";
        target.style.boxSizing = "border-box";
        target.style.height = target.offsetHeight + "px";
        target.offsetHeight;
        target.style.overflow = "hidden";
        target.style.height = 0;
        target.style.paddingTop = 0;
        target.style.paddingBottom = 0;
        target.style.marginTop = 0;
        target.style.marginBottom = 0;
        window.setTimeout(() => {
            target.style.display = "none";
            target.style.removeProperty("height");
            target.style.removeProperty("padding-top");
            target.style.removeProperty("padding-bottom");
            target.style.removeProperty("margin-top");
            target.style.removeProperty("margin-bottom");
            target.style.removeProperty("overflow");
            target.style.removeProperty("transition-duration");
            target.style.removeProperty("transition-property");
            //alert("!");
        }, duration);
    };
    let slideDown = (target, duration = 500) => {
        target.style.removeProperty("display");
        let display = window.getComputedStyle(target).display;

        if (display === "none") display = "block";

        target.style.display = display;
        let height = target.offsetHeight;
        target.style.overflow = "hidden";
        target.style.height = 0;
        target.style.paddingTop = 0;
        target.style.paddingBottom = 0;
        target.style.marginTop = 0;
        target.style.marginBottom = 0;
        target.offsetHeight;
        target.style.boxSizing = "border-box";
        target.style.transitionProperty = "height, margin, padding";
        target.style.transitionDuration = duration + "ms";
        target.style.height = height + "px";
        target.style.removeProperty("padding-top");
        target.style.removeProperty("padding-bottom");
        target.style.removeProperty("margin-top");
        target.style.removeProperty("margin-bottom");
        window.setTimeout(() => {
            target.style.removeProperty("height");
            target.style.removeProperty("overflow");
            target.style.removeProperty("transition-duration");
            target.style.removeProperty("transition-property");
        }, duration);
    };
    let slideToggle = (target, duration = 500) => {
        if (window.getComputedStyle(target).display === "none") {
            return slideDown(target, duration);
        } else {
            return slideUp(target, duration);
        }
    };

    // ====

    let speedAnimation = 400;
    let target = document.querySelector('.study-todo-section');

    let slideBtnClick = (cl, sl) =>
        document
            .querySelector(cl)
            .addEventListener("click", () => sl(target, speedAnimation));

    slideBtnClick(".add-btn", slideToggle);


} catch { }
  </script>
  
</body>
</html>