@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700;900&display=swap");
@import url(./fontall.css);

:root {
	--main: #3cddaa;
	--main-hl: #78f0ca;
	--sub: #3cddaa36;
	--txt: #232931;
	--txtgr: #9e9e9e;
	--bg: #f9f9f9;
	--gr: #eeeeee;
	--deact: #ebebeb;
	--bg-dark: #393e46;
}

body {
	font-family: "Noto Sans KR", sans-serif;
	background: var(--bg);
	color: var(--txt);
	font-size: 16px;
	font-weight: 400;
}

/* commons */

.container {
	margin: 0 auto;
	max-width: 90vw;
}
.shd {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.tit {
	font-family: "NanumSquareNeo", sans-serif;
	font-size: 1.25rem;
}

.btn {
	background: var(--main);
	padding: 0.9rem 1.2rem;
	border-radius: 15px;
	font-size: 1.05rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.3s ease-out;
}
.btn:hover {
	background: var(--main-hl);
}

.box {
	background: var(--bg);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 1.5rem;
}
.task {
	background: var(--sub);
	border-radius: 30px;
	padding: 0.6rem 1.2rem;
}
.task.activate {
	background: var(--bg);
	border: 2px solid var(--main);
}
.task.deactivate {
	background: var(--deact);
	color: var(--txtgr);
}

/* header */
#header {
	background: var(--bg);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
	padding: 1rem 2rem;
}

#header .navi {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header .logo {
	width: 120px;
}

#header .navi .gnb-area .gnb {
	display: flex;
}
#header .navi .gnb-area .gnb li {
	margin-right: 0.6rem;
	transition: 0.5s;
}
#header .navi .gnb-area .gnb li:last-child {
	margin-right: 0;
}
#header .navi .gnb-area .gnb li a {
	padding: 0.3rem;
	position: relative;
}
#header .navi .gnb-area .gnb li a::after {
	content: "";
	display: block;
	background: var(--txt);
	width: 0%;
	height: 3px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 0.2s;
}
#header .navi .gnb-area .gnb li:hover a,
#header .navi .gnb-area .gnb li.activate a {
	font-weight: 800;
}
#header .navi .gnb-area .gnb li:hover a::after,
#header .navi .gnb-area .gnb li.activate a::after {
	width: 100%;
}
#header .navi .user-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#header .navi .user-area .calendar {
	margin-right: 0.8rem;
	padding: 0.3rem 0.4rem;
	border-radius: 50%;
	cursor: pointer;
	line-height: 0.6rem;
	transition: 0.3s ease-out;
}
#header .navi .user-area .calendar span {
	font-size: 1.8rem;
}
#header .navi .user-area .calendar:hover {
	background: var(--main);
	color: var(--bg);
}

#header .navi .user-area .user-prof {
	border-radius: 50%;
	height: 30px;
	overflow: hidden;
	margin-right: 0.5rem;
}
/* footer */
footer {
	margin-top: 2rem;
	text-align: center;
}
