@import url(./init.css);
@import url(./fontall.css);
@import url(./main.css);
@import url(./accounts.css);
@import url(./today.css);
@import url(./alltask.css);
@import url(./create_today.css);
@import url(./study_detail.css);
@import url(./study_form.css);
@import url(./study_index.css);

/* base.html */
@media all and (max-width: 575px) {
  /* navbar */
  #header {
    padding: 1rem 0.5rem;
  }
  #header .logo {
    width: 60px;
    margin-right: 2rem;
  }
  #header .navi .gnb-area .gnb li {
    font-size: 15px;
  }
  #header .navi .user-area .user-prof {
    margin-right: 0.4rem;
  }
  #header .navi .user-area .user-prof img {
    display: none;
  }
  #header .navi .user-area a {
    margin-right: 0;
  }
}

/* accounts App Responsive */


/* todo App Responsive */

/* studies App Responsive */
 /* study index */
@media all and (max-width: 575px) {
  #study-index-area .study-search{
    display: block;
  }
  #study-index-area .search-box input[type="text"]:focus,
  #study-index-area .search-box input[type="text"]:not(:invalid) {
    width: 270px;
  }
  #study-index-area .create-box {
    line-height: 100px;
    margin-left: 60px;
  }
  #study-index-area .st {
    margin: 0;
  }
  #study-index-area .st .tab {
    font-size: 0.6rem;
  }
  #study-index-area .create-box .study-add-icon {
    vertical-align: text-bottom;
  }
  #study-index-area .create-box .study-add-text {
    vertical-align: top;
  }
}

