@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700;900&display=swap");
@import url(./fontall.css);
@import url(./main.css);
@import url(./create_today.css);

.info-box,
#update-study-area .update-box,
#study-todo-area .detail-box,
#create-study-area .study-create-box {
  margin-top: 3rem;
}

/* #create-study-form {
  margin: 0rem 2rem 2rem;
} */

/* #study-detail-area { 
  margin: 2rem;
} */

/* #study-info-area {
  margin: 4.8rem 2rem;
} */

/* #update-study-form{
  margin: 4.75rem 2rem;
} */

/* study, detail studyname input */
#create-study-form input[id="create-study-name"],
#study-detail-area input[id="study-detail-name"],
#update-study-form input[id="update-study-name"],
#study-info-area input[id="study-info-name"]{
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--bg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    font-size: medium;
    font-weight: 700;
    margin-bottom: 2.5rem;
}


#study-info-area .study-info-categories,
#create-study-form .study-create-categories,
#study-detail-area .study-detail-categories,
#update-study-form .study-update-categories{
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

/* create study label */
#create-study-form label[for="create-study-name"],
#create-study-form .study-create-categories legend,
.study-datepicker .study-start-picker legend,
.study-datepicker .study-end-picker legend,
#create-study-form label[for="study-members-num"],
#create-study-form label[for="study-info-text"]{
  font-size: 18px;
  letter-spacing: -1px;
  color: var(--main);
  font-weight: 700;
  margin-bottom: 1rem;
}

/* study info label */
#study-info-area label[for="study-info-name"],
#study-info-area label[for="study-members-num"],
#study-info-area .study-info-categories legend,
.study-info-datepicker .study-start-picker legend,
.study-info-datepicker .study-end-picker legend,
#study-info-area label[for="study-info-text"]{
  font-size: 18px;
  letter-spacing: -1px;
  color: var(--main);
  font-weight: 700;
  margin-bottom: 1rem;
}

/* update study label */
#update-study-form label[for="update-study-name"],
#update-study-form .study-update-categories legend,
.study-update-datepicker .study-start-picker legend,
.study-update-datepicker .study-end-picker legend,
#update-study-form label[for="update-members-num"],
#update-study-form label[for="update-info-text"]{
  font-size: 18px;
  letter-spacing: -1px;
  color: var(--main);
  font-weight: 700;
  margin-bottom: 1rem;
}

/* study detail label */
#study-detail-area label[for="study-detail-text"],
#study-detail-area label[for="study-detail-name"],
#study-detail-area label[for="study-members-num"]{
  font-size: 18px;
  letter-spacing: -1px;
  color: var(--main);
  font-weight: 700;
  margin-bottom: 1rem;
}


#study-info-area .categories-area,
#create-study-form .categories-area,
#update-study-form .categories-area {
  font-family: "NanumSquareNeo";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#study-info-area .study-info-categories input[type="radio"],
#create-study-form .study-create-categories input[type="radio"],
#update-study-form .study-update-categories input[type="radio"] {
  display: none;
}

#study-info-area .study-info-categories input[type="radio"]:checked + label,
#create-study-form .study-create-categories input[type="radio"]:checked + label,
#update-study-form .study-update-categories input[type="radio"]:checked + label {
  background-color: var(--main);
  color: var(--txt);

}

#study-info-area .study-info-categories label,
#create-study-form .study-create-categories label,
#update-study-form .study-update-categories label {
  padding: 0.7rem 1rem;
  border-radius: 20px;
  text-align: center;
  color: var(--txtgr);
  vertical-align: middle;
  font-weight: 700;
  letter-spacing: -.8px;
}

#study-info-area .study-info-categories label:hover,
#create-study-form .study-create-categories label:hover,
#update-study-form .study-create-categories label:hover {
  background-color: var(--deact);
  color: var(--txt);
}

/* study 인원 */
#study-info-area .members-area,
#study-detail-area .members-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

#study-info-area .study-membernum,
#study-detail-area .study-membernum{
  width: 200px;
  background-color: var(--deact);
  padding: 0.8rem 1rem;
  border-radius: 20px;
  text-align: center;
  margin-right: 1rem;
}

#study-info-area .members-area span,
#study-detail-area .members-area span{
  font-weight: 700;
  font-size: 23px;
  color: var(--gr-dark);
}

#study-info-area .study-totalnum,
#study-detail-area .study-totalnum,
#create-study-form input[type="number"],
#update-study-form input[type="number"]{
  width: 200px;
  background-color: var(--sub);
  padding: 0.8rem 1rem;
  border-radius: 20px;
  text-align: center;
  margin-left: 1rem;
}

/* study textarea */
#create-study-form label[for="study-info-text"],
#study-info-area label[for="study-info-text"],
#update-study-form label[for="update-info-text"]{
  margin-top: 2.5rem;
}

#study-todo-area textarea[id="study-detail-text"],
#study-info-area textarea[id="study-info-text"],
#create-study-form textarea[id="study-info-text"],
#update-study-form textarea[id="update-info-text"]{
  font-family: Noto-sans;
  font-size: 15px;
  background-color: var(--bg);
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  outline: none;
  resize: none;
  padding: 15px;
  margin-bottom: 2.5rem;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

#study-todo-area textarea[id="study-detail-text"]::-webkit-scrollbar,
#study-info-area textarea[id="study-info-text"]::-webkit-scrollbar,
#create-study-form textarea[id="study-info-text"]::-webkit-scrollbar,
#update-study-form textarea[id="update-info-text"]::-webkit-scrollbar {
  display: none;
}

#study-todo-area textarea[id="study-detail-text"] {
  padding: 1.5rem;

}

/* date 생성 */
#study-todo-area .datepicker-area,
#create-study-form .study-datepicker,
#study-info-area .study-info-datepicker,
#update-study-form .study-update-datepicker {
  display: flex;
  justify-content: space-evenly;
}


#study-info-area input[id="study-start-date"],
#study-info-area input[id="study-end-date"],
#create-study-form input[id="study-start-date"],
#create-study-form input[id="study-end-date"],
#study-detail-area input[id="study-start-date"],
#study-detail-area input[id="study-end-date"],
#update-study-form input[id="study-start-date"],
#update-study-form input[id="study-end-date"] {
  font-family: "NanumSquareNeo";
  padding: 0.9rem;
  border: 2px solid var(--main);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  letter-spacing: -1px;
}

#study-todo-area input[id="studytask-start"],
#study-todo-area input[id="studytask-end"]{
  display: block !important;
  font-family: "NanumSquareNeo";
  padding: 0.9rem;
  border: 2px solid var(--bg);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  letter-spacing: -1px;
}

.study-picker-area .studytask-startpick,
.study-picker-area .studytask-endpick,
.study-info-datepicker .study-start-picker,
.study-info-datepicker .study-end-picker,
.study-datepicker .study-start-picker,
.study-datepicker .study-end-picker,
.study-detail-datepicker .study-start-picker,
.study-detail-datepicker .study-end-picker,
.study-update-datepicker .study-start-picker,
.study-update-datepicker .study-end-picker {
  margin: 0 50px;
  border-radius: 15px;
}



/* 스터디 생성, 취소 버튼 */

#update-study-form .edit-btn-area,
#create-study-form .study-btn-area {
  margin-top: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-study-form .study-btn-area .study-create-btn,
#create-study-form .study-btn-area .study-cancel-btn,
#update-study-form .edit-btn-area .study-edit-btn,
#update-study-form .edit-btn-area .edit-cancel-btn,
#study-info-area .study-cancel-btn,
#study-info-area .detail-direct-btn,
#study-info-area .enter-btn,
.study-footer-btn .study-del-btn,
.study-footer-btn .dropout-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
  letter-spacing: -1px;
  font-weight: 700;
}

#study-info-area .enter-btn {
  border: 2px solid var(--gr);
}

#create-study-form .study-btn-area .study-create-btn,
#update-study-form .edit-btn-area .study-edit-btn,
#study-info-area .detail-direct-btn {
  background-color: var(--main);
}

#create-study-form .study-btn-area .study-create-btn:hover,
#update-study-form .edit-btn-area .study-edit-btn:hover,
#study-info-area .detail-direct-btn:hover {
  background-color: var(--main-hl);
}

#study-info-area .enter-btn:hover {
  background-color: var(--sub);
}

#create-study-form .study-btn-area .study-cancel-btn,
#update-study-form .edit-btn-area .edit-cancel-btn,
#study-info-area .study-cancel-btn {
  background-color: var(--gr);  
}

#create-study-form .study-btn-area .study-cancel-btn:hover,
#update-study-form .edit-btn-area .edit-cancel-btn:hover,
#study-info-area .study-cancel-btn:hover {
  background-color: var(--txtgr);  
}


/* study detail 승인, 거절 Area */
#study-detail-area .noti-area {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 350px;
  height: 50px;
  font-weight: 700;
  color: var(--main-dark);
  letter-spacing: -1px;
}


#study-detail-area .noti-area .noti-num {
  background-color: var(--main);
  padding: 0.4rem 0.8rem;
  color: var(--txt);
  border-radius: 15px;
}

#study-detail-area .noti-txt {
  vertical-align: text-top;
}

#study-detail-area #study-number {
  color: var(--wrn);
}

#study-detail-area .noti-icon {
  vertical-align: text-bottom;
  margin-right: 10px;
  font-weight: 700;
}

#study-detail-area .down-icon {
  vertical-align: middle;
  font-weight: 700;
}

#study-detail-area .approve-area {
  margin-top: 1rem;
  width: 350px;
  align-self: center;
  justify-content: center;
  height: 50px;
  transition: all 0.8s;
  opacity: 0;
}

#study-detail-area .approve-area.activate {
  height: 250px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  transition: all 0.8s ease-in-out;
  opacity: 1;
}
#study-detail-area .approve-area.activate::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#study-detail-area .approve-members {
  margin: 0 auto;
  width: 300px;
  opacity: 0;
}

#study-detail-area .approve-members.activate {
  margin: 0 auto;
  width: 300px;
  opacity: 1;
}

#study-detail-area .approve-members li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  background-color: var(--bg);
  /* border-radius: 8px; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

#study-detail-area .approve-user-info {
  position: relative;
}

#study-detail-area .approve-user-info img {
  border-radius: 50px;
}

#study-detail-area .approve-user-info h6 {
  position: absolute;
  top: 12px;
  left: 50px;
  letter-spacing: -1px;
  width: 130px;
  font-size: 14px;
}

#study-detail-area .approve-members .detail-btn-group {
  display: flex;
  align-items: center;
}

#study-detail-area .detail-btn-group .approval-btn,
#study-detail-area .detail-btn-group .reject-btn {
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */
  margin: 0 0.2rem;
  letter-spacing: -1px;
  font-size: 13px;
}

#study-detail-area .detail-btn-group .approval-btn {
  background-color: var(--sub);
}

#study-detail-area .detail-btn-group .reject-btn,
.study-footer-btn .study-del-btn,
.study-footer-btn .dropout-btn {
  background-color: var(--gr-wrn);
}

.study-footer-btn .study-del-btn:hover,
.study-footer-btn .dropout-btn:hover {
  background-color: var(--wrn);
}

/* 수정 아이콘 */

#create-study-form .update-direct-icon {
  text-align: end;
  position: relative;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

#create-study-form .update-direct-icon span {
  border-radius: 30px;
  vertical-align: middle;
  padding: 4px;
  position: absolute;
  font-weight: 700;
}

#create-study-form .update-direct-icon span:hover {
  color: var(--bg);
  background-color: var(--main);
}


/* study_info info-btn-li */

#study-info-area .info-btn-li {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}