@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700;900&display=swap");
@import url(./fontall.css);
@import url(./main.css);

#study-index-area {
  margin-top: 3rem;
}

#study-index-area .st {
	margin: 2rem auto;
	background: var(--deact);
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0.4rem 0.6rem;
	width: 950px;
	position: relative;
	z-index: 2;
	overflow: hidden;
  color: var(--txtgr);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: -1px;
}

#study-index-area .st input[type="radio"]{
	display: none;
}

#study-index-area .st input[type="radio"]:checked + label{
	font-weight: 700;
  color: var(--bg-dark);
}

#study-index-area .st input[id="tab0"]:checked ~ .glider{
	transform: translateX(-513%);
}

#study-index-area .st input[id="tab1"]:checked ~ .glider{
	transform: translateX(-402%);
}

#study-index-area .st input[id="tab2"]:checked ~ .glider{
	transform: translateX(-283%);
}

#study-index-area .st input[id="tab3"]:checked ~ .glider{
	transform: translateX(-154.5%);
}

#study-index-area .st input[id="tab4"]:checked ~ .glider{
	transform: translateX(-33.5%);
}

#study-index-area .st input[id="tab5"]:checked ~ .glider{
	transform: translateX(76%);
}

#study-index-area .st input[id="tab6"]:checked ~ .glider{
	transform: translateX(186.5%);
}

#study-index-area .st input[id="tab7"]:checked ~ .glider{
	transform: translateX(299.5%);
}

#study-index-area .st input[id="tab8"]:checked ~ .glider{
	transform: translateX(412.5%);
}

#study-index-area .st .tab {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	margin-right: 0rem;
}

#study-index-area .st .glider{
	position: absolute;
	left: 50%;
	display: flex;
	height: 33.9px;
	width: 90px;
  vertical-align: center;
	border-radius: 60px;
	background: var(--main);
	transition: 0.25s ease-out;
	z-index: -1;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#study-index-area .study-search{
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#study-index-area .search-box {
  position: relative;
  --size-button: 40px;
}

#study-index-area .create-box{
  background-color: var(--main);
  padding: .65rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#study-index-area .create-box .study-add-icon{
  vertical-align: middle;
}

#study-index-area .create-box .study-add-text{
  vertical-align: middle;
  font-weight: 700;
  letter-spacing: -0.8px;
}

#study-index-area .search-box input[type="text"] {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  /* border: 1px solid var(--bg); */
  color: var(--txt);
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: var(--bg);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#study-index-area .search-box input[type="text"]:focus,
#study-index-area .search-box input[type="text"]:not(:invalid) {
  width: 500px;
  cursor: text;
  background-color: var(--bg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#study-index-area .search-box input[type="text"]:focus + .icon,
#study-index-area .search-box input[type="text"]:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.search-box .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: var(--main);
}

.container .icon svg {
  font-weight: 700;
}


#study-index-area .study-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

#study-index-area .study-room {
  position: relative;
  margin: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 450px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--bg);
}


#study-index-area .study-header .study-category{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 0.8rem 1rem;
  background-color: var(--main);
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */
  border-radius: 18px 18px 0 0;
  color: var(--bg);
  text-align: start;
  margin-bottom: 7rem;
}


#study-index-area .study-body {
  /* word-wrap: break-word; */
  width: 90%;
}

#study-index-area .study-name-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#study-index-area .study-body .study-info,
#study-index-area .study-body .study-date {
  padding: 0.8rem 2rem;
  background-color: var(--bg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 10px 0;
  word-break: break-all;
  border: 1px solid var(--deact);
}

#study-index-area .study-body .study-name {
  padding: 0.8rem 2rem;
  background-color: var(--sub);
  border-radius: 18px;
  margin: 10px 0;
  /* letter-spacing: -1px; */
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px;
}

#study-index-area .people-num {
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--bg);
  width: 85px;
  text-align: center;
  padding: 0.6rem;
  /* border: 1.7px solid var(--main-hl); */
  font-weight: 700;
  color: var(--deact);
  font-size: 13px;
  letter-spacing: -1px;
}

#study-index-area .people-num .participant-num {
  color: var(--main);
}

#study-index-area .people-num .all-num {
  color: var(--gr-dark);
}

#study-index-area .study-body .study-info legend,
#study-index-area .study-body .study-date legend {
  font-size: 13px;
  font-weight: 700;
  color: var(--gr-dark);
  text-align: start;
}

#study-index-area .study-body .study-info div,
#study-index-area .study-body .study-date div{
  text-align: center;
  letter-spacing: -.8px;
}

#study-index-area .study-body .study-date div{
  font-weight: 700;
}

#study-index-area .study-body .study-info {
  position: relative;
  width: 100%;
  height: 120px;
  line-height: 2;
  /* letter-spacing: -1px; */
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

#study-index-area .study-footer{
  margin-bottom: 1rem;
}
#study-index-area .join-btn{
  padding: 0.65rem 1.3rem;
  align-self: center;
  background-color: var(--gr);
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 2rem; */
  /* border: 2.5px solid var(--gr); */
}

#study-index-area .join-btn:hover,
#study-index-area .create-box:hover{
  background-color: var(--main-hl);
}


/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 3rem;
  border-radius: 0.8rem;
  background: var(--bg);
  margin: 0 auto;
  font-weight: 700;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.04);
  padding: 10px 0;
}
.page__numbers, .page__btn, .page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}
.page__dots {
  width: 2.6vw;
  height: 2.6vh;
  color: var(--gr-dark);
  cursor: initial;
}
.page__numbers {
  width: 2.6vw;
  height: 2.6vh;
  border-radius: 1.8rem;
  padding: 1.2rem;
  background-color: var(--bg);
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08),
  inset 5px 5px 15px rgba(0, 0, 0, 0.03); */
}

.page-link {
  padding: 1.2rem;
}

.page__numbers:hover {
  color: var(--bg);
  background-color: var(--main);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}
.page__numbers.active {
  color: var(--bg);
  background: var(--main);
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.04);
}
.page__btn {
  color: var(--main);
  /* pointer-events: none; */
}
.page__btn:hover {
  color: var(--sub);
}

.page__btn.active {
  color: var(--gr-dark);
  pointer-events: initial;
}
.page__btn.active:hover {
  color: var(--sub);
}