@import url(./main.css);

#today .lnb,
#week .lnb {
	margin: 2rem auto;
	background: var(--deact);
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0.6rem;
	width: 300px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
#today .lnb input[type="radio"],
#week .lnb input[type="radio"] {
	display: none;
}
#today .lnb input[type="radio"]:checked + label,
#week .lnb input[type="radio"]:checked + label {
	font-weight: 700;
}
#today .lnb input[id="tab1"]:checked ~ .glider,
#week .lnb input[id="tab1"]:checked ~ .glider {
	transform: translateX(-115%);
}
#today .lnb input[id="tab2"]:checked ~ .glider,
#week .lnb input[id="tab2"]:checked ~ .glider {
	transform: translateX(10%);
}
#today .lnb input[id="tab3"]:checked ~ .glider,
#week .lnb input[id="tab3"]:checked ~ .glider {
	transform: translateX(125%);
}
#today .lnb .tab,
#week .lnb .tab {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	/* margin-right: 1.5rem; */
}
#today .lnb .glider,
#week .lnb .glider {
	position: absolute;
	/* left: 50%; */
	display: flex;
	height: 33px;
	width: 80px;
	border-radius: 30px;
	background: var(--main);
	transition: 0.25s ease-out;
	z-index: -1;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#today .box-area,
#week .box-area {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

#today .today-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.8rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#today .today-date {
	font-weight: 700;
	margin-right: 2rem;
	text-align: center;
}

#today .today-date .today-date-month {
	font-size: 2rem;
	position: relative;
	margin-bottom: 0.7rem;
}
#today .today-date .today-date-month::after {
	content: "";
	display: block;
	background: var(--main);
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.2s;
}
#today .today-date .today-date-day {
	font-size: 2.5rem;
}

#today .today-progress {
	position: relative;
}

#today .today-progress #progress-per {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--main);
}

#today .today-task-add {
	text-align: center;
	font-family: "NanumSquareNeo", sans-serif;
}

#today .today-task-add .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid var(--main);
	background: var(--bg);
	border-radius: 25px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
	font-weight: 500;
	font-family: inherit;
}

#today .today-task-add .add-btn:hover {
	width: 150px;
}

#today .today-task-add .add-btn::before,
#today .today-task-add .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: var(--main);
}

#today .today-task-add .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#today .today-task-add .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#today .today-task-add .icon-btn:focus {
	outline: none;
}

#today .today-task-add .btn-txt {
	font-size: 1.1rem;
	opacity: 0;
	transition: opacity 0.2s ease;
}

#today .today-task-add .add-btn:hover::before,
#today .today-task-add .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
}

#today .today-task-add .add-btn:hover .btn-txt {
	opacity: 1;
	/* padding: 0 1rem; */
}

#today .today-task-add .add-icon::after,
#today .today-task-add .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: var(--main);
	overflow: hidden;
}

#today .today-task-add .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#today .today-task-add .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#today .today-task-add .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

#today .today-task-add .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

#today .today-task-add .btn-plus {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	color: var(--main);
	cursor: pointer;
}

#today .box .today-section {
	margin-top: 3rem;
	display: none;
	/* padding: 5rem; */
}

#today .today-section.activate {
	padding: 1.5rem;
}

#today .box .today-section .today-task-add-spec {
	max-width: 65%;
	margin: 0 auto;
}

#today .today-section input[type="date"] {
	display: none;
}
#today .today-section .btn-area {
	text-align: center;
	vertical-align: middle;
}
#today .today-section .btn {
	width: 30%;
	background: var(--bg);
	border: 2px solid var(--main);
}
#today .today-section .btn:hover {
	background: var(--main);
}

.time-picker {
	border: 2px solid var(--main);
	background: var(--bg);
	border-radius: 1rem;
	padding: 1rem;
	position: absolute;
	transform: translate(100%, -50%);
}

/* task area */
#today .today-task-area {
	display: flex;
	margin-right: 1.5rem;
	align-content: center;
	height: 80%;
}

/* task timetable */
#today .today-timetable {
	display: flex;
}
#today .today-timetable .timetable-hour {
	font-family: "NanumSquareNeo", sans-serif;
	font-size: 1.3em;
	color: var(--txtgr);
}
#today .today-timetable .timetable-hour p {
	margin: 0.48rem 0 0;
	line-height: 35px;
	padding: 0.14rem 0;
}
#today .today-timetable .timetable-box {
	display: flex;
	flex-wrap: wrap;
	width: 290px;
	align-content: flex-start;
}
#today .today-timetable .timetable-min {
	width: 35px;
	height: 35px;
	background: var(--gr);
	margin: 0.4rem;
}
#today .today-timetable .timetable-min.activate {
	background: var(--main);
}
#today .time-test {
	display: none;
	z-index: -9999;
}

/* today task list */

#today .today-task-list {
	margin-right: 2rem;
	padding: 0 1rem;
	position: relative;
	max-height: 432px;
	overflow-y: auto;
}
#week .task-list.task-empty {
	padding: 0.6rem 1.2rem;
}
#today .today-task-list .task,
#week .task-list .task,
#week .task-list .task-empty {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	transition: 0.15s ease-in-out;
}
#today .today-task-list .task .task-cont {
	cursor: pointer;
}
#today .today-task-list .task .task-cont,
#week .week-area .task-list .task-cont,
#week .task-list.task-empty .task-cont {
	width: 95%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

#today .today-task-list .task .task-chb,
#week .task-list .task .task-chb {
	position: relative;
	top: 1px;
	width: 25px;
	height: 25px;
	border: 2px solid var(--main);
	border-radius: 3px;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
}
#today .today-task-list .task .task-chb::after,
#week .task-list .task .task-chb::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 8px;
	width: 7px;
	height: 14px;
	opacity: 0;
	transform: rotate(45deg) scale(0);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
}
#today .today-task-list .task input[type="checkbox"],
#week .task-list .task input[type="checkbox"] {
	display: none;
}
#today .today-task-list .task input[type="checkbox"]:checked ~ .task-chb,
#week .task-list .task input[type="checkbox"]:checked ~ .task-chb {
	border-color: transparent;
	background: var(--main);
	animation: jelly 0.6s ease;
}

#today .today-task-list .task input[type="checkbox"]:checked ~ .task-chb::after,
#week .task-list .task input[type="checkbox"]:checked ~ .task-chb::after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}

/* today task detail form */

#today #task-detail {
	padding: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.3s ease;
}

#today #task-detail.activate {
	padding: 1rem;
	width: 30%;
	opacity: 1;
	overflow: unset;
}
#today #task-detail .btn-area {
	position: relative;
}
#today #task-detail .btn-del {
	position: absolute;
	right: 5px;
	bottom: 5px;
	border-radius: 0.5rem;
	padding: 0.5rem;
	/* border: 2px solid var(--wrn); */
	color: var(--wrn);
	vertical-align: middle;
	cursor: pointer;
	transition: 0.25s ease;
}
#today #task-detail .btn-del:hover {
	background: var(--wrn);
	color: var(--bg);
	animation: jelly 0.6s ease;
}

/* study area */
#today .today-study-area {
	width: 5%;
	height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main);
	margin-left: 1rem;
	cursor: pointer;
}
#today .today-study-area.hide {
	width: 0;
	opacity: 0;
}
/* #today .study-task-list {
	overflow-y: scroll;
} */
#today .study-tasklist-area {
	display: none;
	color: var(--txt);
}

#today .today-study-area .tit {
	font-weight: 700;
	margin-bottom: 1rem;
	text-align: center;
}

/*  week */
#week .lnb-area {
	position: relative;
}

#week .week-btn-area {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	width: 100%;
}
#week .week-btn-area .week-btn {
	cursor: pointer;
	transition: 0.2s;
}
#week .week-btn-area .week-btn:hover,
#week .week-btn-area .week-btn:hover .week-btn-prev,
#week .week-btn-area .week-btn:hover .week-btn-next {
	color: var(--main-hl);
	transform: scale(1.1);
}
#week .week-btn-area .week-btn span {
	vertical-align: middle;
}
#week .week-btn-area .week-btn-prev,
#week .week-btn-area .week-btn-next {
	font-size: 3rem;
	font-weight: 900;
	color: var(--main);
	transition: 0.2s;
}

#week .week-area {
	justify-content: flex-start;
	overflow-x: scroll;
	height: 80vh;
	padding: 0 1rem;
}
/* #week .week-area::-webkit-scrollbar {
  display: none;
  border-radius: 5px;
} */

/* #week .week-area ::-webkit-scrollbar-thumb,
#week .week-area ::-webkit-scrollbar-track {
  border-radius: 10px;
} */

#week .week-area .box {
	margin: 2rem 1rem 2.5rem;
}
#week .week-area .tit {
	border-radius: 20px;
	padding: 0.5rem;
	text-align: center;
	margin-bottom: 1.6rem;
}
#week .week-area .tit.activate {
	background: var(--main);
	font-weight: 800;
}

/* animation */

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, 0.75);
	}

	40% {
		transform: scale(0.75, 1.25);
	}

	50% {
		transform: scale(1.15, 0.85);
	}

	65% {
		transform: scale(0.95, 1.05);
	}

	75% {
		transform: scale(1.05, 0.95);
	}

	to {
		transform: scale(1, 1);
	}
}

/* study toggle 접었다 펼치기 */
