{% extends 'base.html' %}
{% load static %}

{% block body %}

  <div class="container" id="study-index-area">
    <div class="box">
      <!-- search bar Area -->
      <article class="study-search">
        <div class="search-box">
          <input placeholder="" required="" class="input" name="text" type="text">
          <div class="icon">
            <svg viewbox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
              <title>Search</title>
              <path stroke-width="52" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
              <path d="M338.29 338.29L448 448" stroke-width="52" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="#3cddaa"></path>
            </svg>
          </div>
        </div>
        <a href="{% url 'studies:create' %}" class="create-box">
          <span class="study-add-icon material-symbols-outlined">add_circle</span>
          <span class="study-add-text">스터디 만들기</span>
        </a>
      </article>

      <!-- category area -->
      <article class="study-category">
        <form action="" method="get" class="st" id="select-category">
          <input type="radio" name="tabmenu" id="tab0" class="tabs" checked="checked">
          <label for="tab0" class="tab">ALL</label>
          <input type="radio" name="tabmenu" id="tab1" class="tabs" value="생활">
          <label for="tab1" class="tab">생활</label>
          <input type="radio" name="tabmenu" id="tab2" class="tabs" value="IT개발">
          <label for="tab2" class="tab">IT/개발</label>
          <input type="radio" name="tabmenu" id="tab3" class="tabs" value="외국어">
          <label for="tab3" class="tab">외국어</label>
          <input type="radio" name="tabmenu" id="tab4" class="tabs" value="수능">
          <label for="tab4" class="tab">수능</label>
          <input type="radio" name="tabmenu" id="tab5" class="tabs" value="인문">
          <label for="tab5" class="tab">인문</label>
          <input type="radio" name="tabmenu" id="tab6" class="tabs" value="취업">
          <label for="tab6" class="tab">취업</label>
          <input type="radio" name="tabmenu" id="tab7" class="tabs" value="면접">
          <label for="tab7" class="tab">면접</label>
          <input type="radio" name="tabmenu" id="tab8" class="tabs" value="기타">
          <label for="tab8" class="tab">기타</label>
          <span class="glider"></span>
        </form>
      </article>
      <!-- study index body -->
      <section class="study-list">
        {% for study in category_studies %}
          <div class="study-room">
            <div class="study-header">
              <div class="study-category">
                {{study.category}}
              </div>
            </div>
            <div class="study-body">
              <div class="study-name-area">
                <div class="study-name">
                  {{study.title}}
                </div>
                <div class="people-num">
                  <span class="participant-num">{{study.member_number}}명</span>
                  /
                  <span class="all-num">{{study.max_people}}명</span>
                </div>
              </div>
              <fieldset class="study-info">
                <legend>스터디 소개</legend>
                <div>
                  {{study.desc}}
                </div>
              </fieldset>
              <fieldset class="study-date">
                <legend>스터디 기간</legend>
                <div>
                  {{study.start_at | date:"y-m-d"}}
                  ~
                  {{study.end_at | date:"y-m-d"}}
                </div>
              </fieldset>
            </div>
            <!-- 진입하기 or 가입하기 -->
            <div class="study-footer">
              {% if request.user in study.participated.all%}
                <a href="{% url 'studies:detail' study.pk %}" class="join-btn">진입하기</a>
              {% else %}
                <a href="{% url 'studies:info' study.pk %}" class="join-btn">가입하기</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
    </div>
  </div>
  
  <script>
    const selectCategory = document.querySelector('#select-category');
    selectCategory.addEventListener('click', function (event) {
      selectCategory.action = 'http://localhost:8000/studies';
      selectCategory.method = 'GET';
      selectCategory.submit()
    })
    
    const url = new URL(window.location.href);
    const urlParams = url.searchParams;
    const menu = urlParams.get('tabmenu');
  
    const categories = selectCategory.querySelectorAll('.tabs');
    for (let idx=0; idx < categories.length; idx++) {
      if (categories[idx].value === menu) {
        categories[idx].checked = true;
      }
    }
  </script>
    

{% endblock body %}