{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container" id="allTodos">
    <div class="lnb-area">
        <div class="lnb">
            <input type="radio" name="tabmenu" id="tab1" class="tabs">
            <label for="tab1" class="tab">
                <a href="{% url 'todos:week' %}">WEEK</a>
            </label>
            <input type="radio" name="tabmenu" id="tab2" class="tabs">
            <label for="tab2" class="tab">
                <a href="{% url 'todos:today' %}">TODAY</a>
            </label>
            <input type="radio" name="tabmenu" id="tab3" class="tabs" checked>
            <label for="tab3" class="tab">
                <a href="{% url 'todos:read_all' %}">ALL</a>
            </label>
            <span class="glider"></span>
        </div>
    </div>
    <section class="task-timeline">
        <div class="container">
            <div class="box-area" id="timeline-box-area">
                <div class="box time-box-area" id="time-box">
                    <div class="past-timeline">
                        <div class="timeline-box">
                            <span class="arrow-icon">
                                <img src="{% static 'img/arrow_forward.svg' %}" alt="">
                            </span>
                            <button class="time-point">
                                과거
                            </button>
                        </div>
                        {% for date, todos in past.items %}
                        <div class="past-date_all">
                            <div class="past-date">
                                <button class="datetime">
                                    {{ date }}
                                </button>
                            </div>
                            {% for todo in todos %}
                            <ul class="task_listup">
                                <li class="task-li-content" id="task-li-content{{ todo.pk }}">
                                    <span> {{ todo.title }} </span>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        {% empty %}
                        <div class="past-date_all">
                            <div class="past-date">
                                <button class="datetime">
                                    작성된 할일이 없어요 :(
                                </button>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="today-timeline">
                        <div class="timeline-box">
                            <span class="arrow-icon">
                                <img src="{% static 'img/arrow_forward.svg' %}" alt="">
                            </span>
                            <button class="times">
                                오늘
                            </button>
                        </div>
                        <ul class="task_listup">
                            {% for today in present %}
                            <li class="task-li-content" id="task-li-content{{ today.pk }}">
                                <span> {{today.title}} </span>
                            </li>
                            {% empty %}
                            <li class="task-li-content">
                                <span>아직 작성된 할일이 없어요 :(</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tomorrow-timeline">
                        <div class="timeline-box">
                            <span class="arrow-icon">
                                <img src="{% static 'img/arrow_forward.svg' %}" alt="">
                            </span>
                            <button class="times">
                                내일
                            </button>
                        </div>
                        <ul class="task_listup">
                            {% for ft in future %}
                            <li class="task-li-content" id="task-li-content{{ ft.pk }}">
                                <span> {{ft.title}} </span>
                            </li>
                            {% empty %}
                            <li class="task-li-content">
                                <span>아직 작성된 할일이 없어요 :(</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="box timedetail-form" id="timedetail-form-area">
                    <form action="" method="post" id="today-detail-form">
                        <input type="text" name="today_task-title" value="task title" class="today_task-title" disabled>

                        <textarea name="today_task-textarea" class="today_task-textarea" cols="30" rows="10" disabled></textarea>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- 눌렀을때 나타나는 폼 -->
<script>
    let taskContents = document.querySelectorAll(".task-li-content")
    const timeDetailForm = document.querySelector(".timedetail-form")
    const timeBoxArea = document.querySelector(".time-box-area")

    // 과거 todo 를 눌렀을 때, 디테일에서 내용이 보이게 함
    taskContents.forEach(function(v, i, o){
        v.addEventListener("click", function(e){
            e.preventDefault();

            timeDetailForm.classList.toggle('activate');
            timeBoxArea.classList.toggle('activate');
    
            // detail form 에 값이 들어갈 tag 들 지정
            let taskTitle = timeDetailForm.children[0].children[0];
            let taskDesc = timeDetailForm.children[0].children[1];
            let taskTag = timeDetailForm.children[0].children[2];
    
            // todo pk 값을 id 값에 심은 부분을 추출한다.
            const todoIdValue = Number(v.id.split("task-li-content")[1]);
            let todoLoopId = null;

            // 송신을 위한 필요 데이터들
            const url = "/todos/detail_asyn/";
            const params = {
                todoIdValue
            };

            axios.get(
                url, 
                { params: params}
            ).then((res) => {
                // parsing 후 값을 가져온다.
                let todo = JSON.parse(res.data.todo)[0];
                
                taskTitle.value = todo.fields["title"];
                taskDesc.value = todo.fields["content"];
            });
        })
    });



</script>
<!-- 과거, 오늘, 내일 토글 -->
<script>
    // 과거 토글
    const timelineBtn = document.querySelector('.time-point');
    timelineBtn.addEventListener('click', function (e) {
        e.preventDefault();
        const parentDiv = e.target.parentElement.parentElement;
        let timePoint = parentDiv.classList.value;
        const dateList = parentDiv.querySelectorAll('.past-date_all');
        for (let i = 0; i < dateList.length; i++) {
            dateList[i].classList.toggle('activate');
        };

        const ymdBtn = parentDiv.querySelectorAll('.datetime');
        ymdBtn.forEach(function(v, i, o){
            v.addEventListener('click', function (e) {
                e.preventDefault();
                const parentElem = e.target.parentElement.parentElement
                const timeList = parentElem.querySelectorAll('.task-li-content');
                for (let j = 0; j < timeList.length; j++) {
                    timeList[j].classList.toggle('activate');
                }
            })
        })
    });

    // 오늘, 내일 토글 - 클래스 이름 변경
    const times = document.querySelectorAll('.times');
    times.forEach(time => {
        time.addEventListener('click', (e) => {
            e.preventDefault();
            const parenDiv = e.target.parentElement.parentElement;
            // console.log(parenDiv)
            const taskList = parenDiv.querySelectorAll('.task-li-content');
            // console.log(taskList)
            for (let k = 0; k < taskList.length; k++) {
                taskList[k].classList.toggle('activate');
            }

        })
    })



</script>
{% endblock %}