{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container" id="today">

  <div class="lnb-area">
    <div class="lnb">
      <input type="radio" name="tabmenu" id="tab1" class="tabs">
      <label for="tab1" class="tab">WEEK</label>
      <input type="radio" name="tabmenu" id="tab2" class="tabs" checked="checked">
      <label for="tab2" class="tab">TODAY</label>
      <input type="radio" name="tabmenu" id="tab3" class="tabs">
      <label for="tab3" class="tab">ALL</label>
      <span class="glider"></span>
    </div>
  </div>

  <div class="box">
    <div class="today-info">
      <div class="today-date">
        <p class="today-date-month">
          11
        </p>
        <p class="today-date-day">29</p>
      </div>
      <div class="today-progress">
        <canvas id="today-progress-crc" width="100" height="100"></canvas>
        <div id="progress-per">0</div>
      </div>
    </div>
    <div class="today-task-add">
      <form action="#">
        <input type="text" name="todayTask" id="" placeholder="할일 추가하기">
        <span class="material-symbols-outlined btn-plus">
          add_circle
        </span>
      </form>
    </div>

    <section class="today-section">
      <div class="today-task-add-spec">
        <!-- today todo Form -->
        <form action="{% url 'todos:create' %}" method="post" id="today-form">
          {% csrf_token %}
          <input type="date" name="when" id="id_when">
          <input type="text" name="title" value="task title" class="today_task-title">
          <div class="timepicker-area">
            <div class="starttime-select">
              <label for="starttime-pick">시작 시간</label>
              <input type="text" id="starttime-pick" value="" name="started_at" class="time-pickable" readonly>
            </div>
            <span class="time-tilder">~</span>
            <div class="endtime-select">
              <label for="endtime-pick">종료 시간</label>
              <input type="text" id="endtime-pick" value="" name="expired_at" class="time-pickable" readonly>
            </div>
          </div>
          <textarea name="content" class="today_task-textarea" id="id_content" cols="30" rows="10"></textarea>
          <input type="file" name="image" class="today_task-img" id="id_image">
          <div class="btn-area">
            <div class="keyword-box">
              <span>keyword</span>
            </div>
            <button type="submit" class="btn">할일 추가</button>
          </div>
        </form>
      </div>
    </section>
  </div>

  <div class="box-area">
    <div class="box today-task-area">
      <ul class="today-task-list">
        <li class="task activate">
          <a class="task-btn btn-edit">수정</a>
          <a class="task-btn btn-del">삭제</a>
          <p class="task-cont">task00000000</p>
          <input type="checkbox" name="task-chb1" id="task-chb1">
          <label for="task-chb1" class="task-chb"></label>
        </li>
        <li class="task">
          <a class="task-btn btn-edit">수정</a>
          <a class="task-btn btn-del">삭제</a>
          <p class="task-cont">task</p>
          <input type="checkbox" name="task-chb2" id="task-chb2">
          <label for="task-chb2" class="task-chb"></label>
        </li>
        <li class="task">
          <a class="task-btn btn-edit">수정</a>
          <a class="task-btn btn-del">삭제</a>
          <p class="task-cont">task</p>
          <input type="checkbox" name="task-chb3" id="task-chb3">
          <label for="task-chb3" class="task-chb"></label>
        </li>
      </ul>
      <div class="today-timetable">
        <div class="timetable-col">
          <div class="timetable-hour">
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min "></p>
          </div>
          <div class="timetable-hour">
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
          </div>
          <div class="timetable-hour">
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
          </div>
        </div>
        <div class="timetable-col">
          <div class="timetable-hour">
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min "></p>
          </div>
          <div class="timetable-hour">
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
          </div>
          <div class="timetable-hour">
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min activate"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
            <p class="timetable-min"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="box today-study-area">
      <h3 class="tit">Study</h3>
      <ul class="study-task-list">
        <li class="task">task</li>
      </ul>
    </div>
  </div>

  <div class="box">
    <!-- <form action="{% url 'todos:create' %}" method="POST"> {% csrf_token %} {{ todosForm }} <button
        type="submit">ok</button> </form>
    <form action="" method="POST"> {% csrf_token %} {{ timetableForm }} <button type="submit">ok</button> </form> -->
    <div>
      <h2>---todo test---</h2>
      {% for todo in today_todos %}
      <p>{{ todo.when }}</p>
      <p>{{ todo.title }}</p>
      <p>{{ todo.content }}</p>
      <p>{{ todo.started_at }}</p>
      <p>{{ todo.expired_at }}</p>
      {% endfor %}

      {% for time in time_list %}
      <p>{{ time }}</p>
      {% endfor %}
    </div>
  </div>

</div>

<script>
  function activate() {
    document.head.insertAdjacentHTML("beforeend", `
          <style>
              .time-picker {
                  position: absolute;
                  display: inline-block;
                  padding: 10px;
                  background: var(--main);
                  border-radius: 10px;
                  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
                  width: 400px;
                  margin-top: 10px;
              }

              .time-picker__select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  outline: none;
                  text-align: center;
                  border: 2px solid var(--main);
                  border-radius: 6px;
                  padding: 6px 10px;
                  background: var(--bg);
                  cursor: pointer;
                  font-family: 'Heebo', sans-serif;
              }

              .time-pickable {
                  background-color: var(--bg);
              }
          </style>
      `);

    document.querySelectorAll(".time-pickable").forEach(timePickable => {
      let activePicker = null;

      timePickable.addEventListener("focus", () => {
        if (activePicker) return;

        activePicker = show(timePickable);

        const onClickAway = ({ target }) => {
          if (
            target === activePicker
            || target === timePickable
            || activePicker.contains(target)
          ) {
            return;
          }

          document.removeEventListener("mousedown", onClickAway);
          document.body.removeChild(activePicker);
          activePicker = null;
        };

        document.addEventListener("mousedown", onClickAway);
      });
    });
  }

  function show(timePickable) {
    const picker = buildPicker(timePickable);
    const { bottom: top, left } = timePickable.getBoundingClientRect();

    picker.style.top = `${top}px`;
    picker.style.left = `${left}px`;

    document.body.appendChild(picker);

    return picker;
  }

  function buildPicker(timePickable) {
    const picker = document.createElement("div");
    const hourOptions = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24].map(numberToOption);
    const minuteOptions = [0, 10, 20, 30, 40, 50].map(numberToOption);

    picker.classList.add("time-picker");
    picker.innerHTML = `  
          <select class="time-picker__select">
              ${hourOptions.join("")}
          </select>
          :
          <select class="time-picker__select">
              ${minuteOptions.join("")}
          </select>
      `;

    const selects = getSelectsFromPicker(picker);

    selects.hour.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));
    selects.minute.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));

    if (timePickable.value) {
      const { hour, minute, meridiem } = getTimePartsFromPickable(timePickable);

      selects.hour.value = hour;
      selects.minute.value = minute;
    }

    return picker;
  }

  function getTimePartsFromPickable(timePickable) {
    const pattern = /^(\d+):(\d+) (am|pm)$/;
    const [hour, minute] = Array.from(timePickable.value.match(pattern)).splice(1);

    return {
      hour,
      minute,
    };
  }

  function getSelectsFromPicker(timePicker) {
    const [hour, minute] = timePicker.querySelectorAll(".time-picker__select");

    return {
      hour,
      minute,
    };
  }

  function getTimeStringFromPicker(timePicker) {
    const selects = getSelectsFromPicker(timePicker);

    return `${selects.hour.value}:${selects.minute.value}`;
  }

  function numberToOption(number) {
    const padded = number.toString().padStart(2, "0");

    return `<option value="${padded}">${padded}</option>`;
  }

  activate();
</script>
{% endblock body %}